* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.input {
  display: flex;
}

form {
  padding-top: 30px;

  position: relative;
}

.inputText {
  outline: none;
  border: none;
  width: 470px;
  height: 60px;
  background: #ffffff;
  border-radius: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #8c8c8c;
  padding: 20px;
}

.btn {
  position: absolute;
  top: 38px;
  right: 10px;
  z-index: 9;
  outline: none;
  display: inline-block;
  background: #fbe0dc;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.buttons {
  padding-top: 30px;
  display: flex;
  align-items: center;
}

.btn_nav {
  width: 60px;
  height: 60px;
  border: none;
  background: #ffffff;
  border-radius: 20px;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
