
.cards{
	display: flex;
	
}

.LeftSide{
	margin-left: 10%;
	padding-top: 30px;
}


.LeftSide > h1{
	margin-top: 80px;
	font-weight: 500;
	font-size: 44px;
	line-height: 58px;
	color: #1D1D1D;
	margin-bottom: 10px;
}

.LeftSide > p{
	margin-bottom: 60px;
}