.cards {
  display: flex;
}

.LeftSide {
  margin-left: 10%;
  padding-top: 30px;
}

.LeftSide > h1 {
  margin-top: 80px;

  font-size: 36px;
  line-height: 58px;
  color: #1d1d1d;
  margin-bottom: 120px;
}

.LeftSide > p {
  margin-bottom: 60px;
}
