.breeds {
	position: absolute;
	top: 0;
	right: 20px;
	height: 100vh;
}

.breeds__info {
	margin-top: 20px;
	background-color: #FFFFFF;
	border-radius: 20px;

}

.list {
	width: 226px;
	height: 40px;
	background: #F8F8F7;
	border-radius: 10px;
	border: none;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #8C8C8C;
	margin: 10px;
}

.limit {
	width: 101px;
	height: 40px;
	background: #F8F8F7;
	border-radius: 10px;
	border: none;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #8C8C8C;
	margin: 10px;
}

.button__sort {
	width: 40px;
	height: 40px;
	border: none;
	background: #F8F8F7;
	border-radius: 10px;
	margin: 10px;
}


.all__contents{
	width: 680px;
	display: block;
	margin: 0 auto;
	padding-bottom: 20px;
	max-height: calc(80vh - 56px);
	overflow-x: hidden;
	overflow-y: auto;
	
}

.breeds__img {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 20px;
	
}

.breeds__img > img {
	width: 100%;
	border-radius: 20px;
}


.div0 {
	grid-area: 1 / 1 / 3 / 2;
	width: 200px;
	height: 300px;
}

.div1 {
	grid-area: 1 / 2 / 2 / 3;
	width: 200px;
	height: 140px;
}

.div2 {
	grid-area: 1 / 3 / 2 / 4;
	width: 200px;
	height: 140px;
}

.div3 {
	grid-area: 2 / 2 / 4 / 4;
	width: 420px;
	height: 300px;
}

.div4 {
	grid-area: 3 / 1 / 4 / 2;
	width: 200px;
	height: 140px;
}